@using KidsGEPT.Helpers
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="~/areas/backend/content/img/avatars/sunny.png" alt="me" class="online" />
                <span>@Session["backenduser"]</span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->
        <ul>
            <li class="@Html.RouteIf("main", "active")">
                <a href="@Url.Action("index", "main")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">回主頁</span></a>
            </li>
            <li class="@Html.RouteIf("setting", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">@ViewRes.Leftmenu.Leftmenucog</span></a>
                <ul>
                    <li class="@Html.RouteIf("schools", "active")">
                        <a href="@Url.Action("index", "schools")">學校設定</a>
                    </li>
                    <li class="@Html.RouteIf("basics", "active")">
                        <a href="@Url.Action("index", "basics")">基本檔設定</a>
                    </li>
                    <li class="@Html.RouteIf("Schedules", "active")">
                        <a href="@Url.Action("index", "Schedules")">場次設定</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->